<form {{action "addComment" on="submit"}}>
  <div class='addComment'>
    {{textarea value=text}}
    <button type="submit" class="button-add">Add comment {{fa-icon 'comments-o'}}</button>
  </div>
</form>
